<footer class="footer">
    <div class="row">
        <div class="small-12 columns">
            <p class="links">
              {% for legal in site.legal %}
                <a href="{{ legal.url | prepend: site.baseurl }}">{{ legal.title }}</a>
              {% endfor %}
            </p>
            <p class="copywrite">Copyright ©
                <script>
                    document.write(new Date().getFullYear())
                </script>
                by
            <a href="{{ site.baseurl }}/" target="_blank">tdolist</a>
            </p>
        </div>
    </div>
</footer>
