<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="{{ "/css/foundation.css" | prepend: site.baseurl }}" />
    <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}"/>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/css/zusatz.css" | prepend: site.baseurl }}" />
    <script src="{{ "/js/vendor/modernizr.js" | prepend: site.baseurl }}"></script>
</head>
