<!DOCTYPE html>
<html class="no-js" lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <hr class="transparent" />
    <article class="large-7 medium-11 small-11 art-centered">
      <div class="row">
        <div class="large-12 medium-12 small-12 columns">
          {{ content }}
        </div>
      </div>
    </article>
    <hr class="transparent" />
    {% include footer.html %}
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
        $(document).foundation();

    </script>

  </body>

</html>
